    body {
      font-family: 'Poppins', sans-serif;
      background-color: #0f172a; 
      color: white;
    }


    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; 
      text-align: center;
      background: linear-gradient(135deg, #0f172a, #1e293b);
      background-size: cover;
      background-position: center;
    }

    header h1 {
      font-size: 3rem;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    header p {
      font-size: 1.2rem;
      color: #cbd5e1;
      margin-bottom: 30px;
    }

    .btn {
      background-color: #facc15;
      color: #0f172a;
      border: none;
      padding: 12px 25px;
      border-radius: 30px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;
      transition: 0.3s;
    }

    .btn:hover {
      background-color: #fde047;
      transform: translateY(-2px);
    }