/* biru, hijau, merah */
.kakek {
    background-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column; /* arah kolom (atas ke bawah) */
}

/* baris 1, 2, 3 */
.bapak1,
.bapak2,
.bapak3 {
    width: 100%;
    height: 100%;
    display: flex; /* tiap baris berisi 3 anak (arah horizontal) */
}

/* anak-anak (kotak kecil) */
.anak1,
.anak2,
.anak3,
.anak4,
.anak5,
.anak6,
.anak7,
.anak8,
.anak9 {
    width: 100%;
    height: 100%;
    border: white solid 1px;
}

/* warna tiap baris */
.anak1,
.anak2,
.anak3 {
    background-color: blue;
}

.anak4,
.anak5,
.anak6 {
    background-color: green;
}

.anak7,
.anak8,
.anak9 {
    background-color: red;
}