.bendera {
  width: 300px;
  height: 180px;
  background: white;
  border: 1px solid black;
  position: relative;
}

.lingkaran {
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 110px;
}
