.prancis {
  display: flex; 
  width: 480px;
  height: 320px;
  border: 2px solid #000;
}

.garis {
  flex: 1;
}

.biru { background: #0055A4; }
.putih { background: white; }
.merah { background: #EF4135; }